.img{
	width: 45px;
	transition-duration: 0.4s;
}
.img:hover{
	/*box-shadow: 0 10px 20px rgba(255, 215, 0, 0.24);*/
	opacity: 0.5;
}	
.div1{
	margin-left: 300px;
	position: relative;
	top: 50px;
	left: -170px;
	right: 170px;
	border-radius: 30%;
}
#motion-demo {
  offset-path: path('M0,0 C40,160 20,160 200,20');
  animation: move 20s infinite alternate linear;
  height: 100px;
  width: 100px;
  transform: translate(150px, 150px); 
 }

@keyframes move {
  0% {
    offset-distance: 20%;
  }
  100% {
    offset-distance: 50%;
  }
}
